<div class="tpl-content-wrapper">
    <div class="tpl-content-page-title">
        日志管理
    </div>
    <ol class="am-breadcrumb">
        <li><a href="#" class="am-icon-home">首页</a></li>
        <li><a href="#">日志管理</a></li>
        <li class="am-active">系统日志列表</li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span> 系统日志列表
            </div>
        </div>
        <div class="tpl-block">
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                        </div>
                    </div>
                </div>

            </div>


            <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                            <tr>
                                <th class="table-id">ID</th>
                                <th class="table-title">日志类型</th>
                                <th class="table-title">执行者</th>
                                <th class="table-type">执行内容</th>
                                <th class="table-type">错误内容</th>
                                <th class="table-author am-hide-sm-only">创建时间</th>
                            </tr>
                            </thead>
                            <tbody>

                            {{range $index,$item := .logsList}}

                            <tr>
                                <td>{{ $index }}</td>
                                <td>{{ .GetType_S }}</td>
                                <td>{{ .User }}</td>
                                <td>{{ .Operation }}</td>
                                <td class="am-hide-sm-only">{{ .Error }}</td>
                                <td class="am-hide-sm-only">{{ date .CreatedAt "Y-m-d H:i:s"}}</td>
                            </tr>

                            {{end}}

                            </tbody>
                        </table>
                        <div class="am-cf">

                            <div class="am-fr">
                                <ul class="am-pagination tpl-pagination">
                                    {{ with .logsPage}}

                                    <li {{ if .FirstPage }} class="am-disabled" {{ end }}><a href='?page={{ .PrePage }}'>«</a></li>

                                    {{ str2html .PageHtml }}

                                    <li {{ if .LastPage }} class="am-disabled" {{ end }}><a href='?page={{ .NextPage }}'>»</a></li>

                                    {{end}}

                                </ul>
                            </div>
                        </div>
                        <hr>

                    </form>
                </div>

            </div>
        </div>
        <div class="tpl-alert"></div>
    </div>


</div>