<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>22COIN - 数字资产管理系统</title>
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css">
    <link rel="stylesheet" href="/assets/css/app.css">
</head>

<body data-type="login">

<div class="am-g myapp-login">
    <div class="myapp-login-logo-block  tpl-login-max">
        <div class="myapp-login-logo-text">
            <div class="myapp-login-logo-text">
                22COIN<span> Login</span> <i class="am-icon-skyatlas"></i>
            </div>
        </div>

        <div class="login-font">
            <i><a href="http://www.22COIN.com">www.22COIN.com</a></i>
        </div>
        <div class="am-u-sm-10 login-am-center">
            <form class="am-form login-info-form">
                {{ .xsrfdata }}
                <fieldset>
                    <div class="am-form-group">
                        <input type="text" class="" name="Username" value="" placeholder="管理员账号">
                    </div>
                    <div class="am-form-group">
                        <input type="password" class="" name="Password" value="" placeholder="管理员密码">
                    </div>
                </fieldset>
                <fieldset>
                    <div class="am-form-group">
                        <input type="password" class="" name="MainAccountPwd" value="" placeholder="汇总账户密码">
                    </div>
                    <div class="am-form-group">
                        <input type="password" class="" name="MemberPwd" placeholder="会员账户密码" value="">
                    </div>
                    <p>
                        <button type="button" onclick="login();" class="am-btn am-btn-default">登录</button>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/layer/3.0.3/layer.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/common.js"></script>


<footer data-am-widget="footer"
        class="am-footer am-footer-default"
        data-am-footer="{  }">
    <div class="am-footer-switch">
    <span class="am-footer-ysp" data-rel="mobile"
          data-am-modal="{target: '#am-switch-mode'}">
          云适配版
    </span>
        <span class="am-footer-divider"> | </span>
        <a id="godesktop" data-rel="desktop" class="am-footer-desktop" href="javascript:">
            电脑版
        </a>
    </div>
    <div class="am-footer-miscs ">

        <p>由 <a href="http://www.22COIN.com/" title="22COIN网络科技有限公司"
                target="_blank" class="">22COIN网络科技有限公司</a>
            提供技术支持</p>
        <p>CopyRight©2017 22COIN Inc.</p>
    </div>
</footer>

<div id="am-footer-modal"
     class="am-modal am-modal-no-btn am-switch-mode-m am-switch-mode-m-default">
    <div class="am-modal-dialog">
        <div class="am-modal-hd am-modal-footer-hd">
            <a href="javascript:void(0)" data-dismiss="modal" class="am-close am-close-spin " data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd">
            您正在浏览的是

            <span class="am-switch-mode-owner">
            云适配
        </span>

            <span class="am-switch-mode-slogan">
              为您当前手机订制的移动网站。
        </span>
        </div>
    </div>
</div>
</body>


</html>